div{
    padding-top: 50px;
}

body{
    background-color: rgb(221, 209, 193);
}

ul {
    list-style-type: none;    
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    background-color: lightgrey;
}

li{
    float: right;
}

img{
    float: left;
    height: 75px;
    width: 75px;
}

li a{
    font-family: monospace;
    margin: auto;
    color: black;
    background-color: lightgray;
    display: block;
    font-size: 20px;
    padding: 25px;
    text-align: center;
}

li a:hover{
    background-color: darkgreen;
    color: white;
}